<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ADV</title>
    </head>
    <body>
        <div class="position-relative">
            <header class="header-main">
                <div class="header-main__container container">
                    <div class="header-main__left-box">
                        <a href="/" class="header-main__logo">
                            <img src="local/img/logo.svg" alt="">
                        </a>
                        <span class="header-main__slog">
                            Маркетинговое агентство <b>ADV TEAM</b><br>
                            Таргетированная реклама в Facebook и Instagram
                        </span>
                    </div>
                    <div class="header-main__center-box">
                        <nav class="nav-top">
                            <a href="javascript:;" class="nav-top__link">О Раскрутке</a>
                            <a href="javascript:;" class="nav-top__link">Гарантии</a>
                            <a href="javascript:;" class="nav-top__link">Тарифы</a>
                            <a href="javascript:;" class="nav-top__link">Клиенты</a>
                            <a href="javascript:;" class="nav-top__link">Контакты</a>
                        </nav>
                    </div>
                    <div class="header-main__right-box">
                        <a href="tel:+74945990064" class="header-main__phone">+7 494 599 00 64</a>
                    </div>
                </div>
            </header>
            <main>
                <div class="block-first">
                    <div class="container">
                        <div class="h1">
                            Запустим прибыльную систему привлечения 
                            клиентов из Facebook и Instagram в Ваш бизнес 
                            за 7 дней
                        </div>
                        <div class="block-first__desc">
                            Получите стабильный поток платежеспособных клиентов из социальных сетей<br>
                            <b>в 2 раза дешевле</b>, чем из контекстной рекламы
                        </div>
                        <a href="javascript:;" class="btn-first">Получить бесплатную консультацию</a>
                        <div class="block-first__text">
                            Даже если у Вас уже настроен таргет Facebook и Instagram, наш маркетолог<br>
                            сделает аудит и предложит пути кратного повышения его эффективности
                        </div>
                        <a href="javascript:;" class="block-first__scroll"></a>
                    </div>
                </div>
                <div class="block-second">
                    <div class="container">
                        <div class="h2">
                            Делаем таргетированную рекламу,<br>
                            которая приносит прибыль
                        </div>
                        <div class="block-second__items">
                            <div class="block-second__item">
                                <div class="block-second__pict">
                                    <img src="local/uploads/second1.png" alt="">
                                </div>
                                <div class="block-second__name">
                                    ЗНАЕМ, ГДЕ ВЗЯТЬ ВАШУ<br>
                                    ЦЕЛЕВУЮ АУДИТОРИЮ
                                </div>
                                <div class="block-second__text">
                                    и как показаться ей <br>
                                    наиболее эффективно
                                </div>
                            </div>
                            <div class="block-second__item">
                                <div class="block-second__pict">
                                    <img src="local/uploads/second2.png" alt="">
                                </div>
                                <div class="block-second__name">
                                    УМЕЕМ СОЗДАВАТЬ<br>
                                    КРУТЫЕ КРЕАТИВЫ
                                </div>
                                <div class="block-second__text">
                                    чтобы зацепить клиента <br>
                                    яркими цветами <br>
                                    и мощными текстами
                                </div>
                            </div>
                            <div class="block-second__item">
                                <div class="block-second__pict">
                                    <img src="local/uploads/second3.png" alt="">
                                </div>
                                <div class="block-second__name">
                                    ПОКАЗЫВАЕМ ВАШУ РЕКЛАМУ<br>
                                    ТОЛЬКО ТЕМ, КОМУ ЭТО ИНТЕРЕСНО
                                </div>
                                <div class="block-second__text">
                                    увеличивая прибыль и снижая <br>
                                    затраты на рекламу
                                </div>
                            </div>
                            <div class="block-second__item">
                                <div class="block-second__pict">
                                    <img src="local/uploads/second4.png" alt="">
                                </div>
                                <div class="block-second__name">
                                    ВЕДЕМ РЕКЛАМУ<br>
                                    ЦЕЛЫЙ МЕСЯЦ
                                </div>
                                <div class="block-second__text">
                                    а если надо, то и далее
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-work">
                    <div class="container">
                        <div class="block-work__title">
                            <div class="h2">
                                КАК МЫ РАБОТАЕМ
                            </div>
                        </div>
                        <div class="block-work__items">
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    АНАЛИЗ И ДЕКОМПОЗИЦИЯ
                                </div>
                                <div class="block-work__text">
                                    Проанализируем ваш бизнес и текущие рекламные кампании, рассчитаем <br>
                                    медиаплан: стоимость перехода на сайт, стоимость показа рекламы, <br>
                                    спрогнозируем количество лидов в рамках предложенного бюджета
                                </div>
                            </div>
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    ЗАПУСК РЕКЛАМНЫХ КАМПАНИЙ И ТЕСТИРОВАНИЕ
                                </div>
                                <div class="block-work__text">
                                    Тестовый запуск рекламных кампаний, контроль показателей (CPC, <br>
                                    CR, процент отказов и объем трафика, коэффициент релевантности <br>
                                    объявлений).
                                </div>
                            </div>
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    ОПРЕДЕЛЕНИЕ KPI И СТАРТ РАБОТ
                                </div>
                                <div class="block-work__text">
                                    На основе анализа посадочных страниц, конкурентной среды и <br>
                                    медиаплана, мы составим план работ, договор, определим KPI, <br>
                                    выделим под проект команду из таргетолога и аккаунт-менеджера
                                </div>
                            </div>
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    ОПТИМИЗАЦИЯ РЕКЛАМНЫХ КАМПАНИЙ
                                </div>
                                <div class="block-work__text">
                                    Доработка кампаний и объявлений по итогам этапа тестирования, <br>
                                    оптимизация рекламных кампаний – замена креативов, проработка новых <br>
                                    офферов, доработка посадочных страниц.
                                </div>
                            </div>
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    ПОДГОТОВКА К ЗАПУСКУ
                                </div>
                                <div class="block-work__text">
                                    Сбор аудиторий, подготовка посадочных страниц – установка <br>
                                    пикселей, кодов отслеживания, подготовка офицеров и <br>
                                    согласование креативов. Согласование стратегии запуска.
                                </div>
                            </div>
                            <div class="block-work__item">
                                <div class="block-work__name">
                                    ОТЧЁТНОСТЬ И ДАЛЬНЕЙШАЯ РАБОТА
                                </div>
                                <div class="block-work__text">
                                    Ведём и оптимизируем рекламные кампании. Вы получаете отчётность <br>
                                    2 раза в неделю.
                                </div>
                            </div>
                        </div>
                        <div class="h4 text-center">
                            Уверены, что с Вашей рекламой работают <br>
                            так же тщательно?
                        </div>
                        <div class="block-work__btn">
                            <a href="javascript:;" class="btn-second">Не знаю. Можете провести аудит?</a>
                        </div>
                    </div>
                </div>
                <div class="block-result">
                    <div class="container">
                        <div class="block-result__title">
                            <div class="h3 white-color">
                                Вот таким результатам уже радуются наши клиенты
                            </div>
                        </div>
                        <div class="block-result__slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="javascript:;">
                                            <img src="local/uploads/result.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:;">
                                            <img src="local/uploads/result.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:;">
                                            <img src="local/uploads/result.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;" class="block-result__prev"></a>
                            <a href="javascript:;" class="block-result__next"></a>
                        </div>
                    </div>
                </div>
                <div class="block-rate">
                    <div class="container">
                        <div class="h2 text-center">
                            Нравится? Тогда давайте работать вместе.<br>
                            Есть 2 тарифа:
                        </div>
                        <div class="block-rate__block">
                            <div class="block-rate__part">
                                <div class="block-rate__name">
                                    Таргет на <br>
                                    готовый сайт
                                </div>
                                <div class="block-rate__text">
                                    <ul>
                                        <li>Сделаем объёмный анализ конкурентов</li>
                                        <li>Сегментируем целевую аудиторию и выявим её боли, желания и потребности</li>
                                        <li>Упакуем смыслы и ценность твоего бизнеса через копирайтинг и креативы</li>
                                        <li>Настроим рекламный кабинет Facebook с оптимизацией налогообложения</li>
                                    </ul>
                                </div>
                                <div class="block-rate__bottom">
                                    <div class="block-rate__price">20 000 <sub>руб</sub></div>
                                    <a href="javascript:;" class="btn-second">Хочу так!</a>
                                </div>
                            </div>
                            <div class="block-rate__part">
                                <div class="block-rate__name">
                                    Quiz-лендинг <br> 
                                    + таргет
                                </div>
                                <div class="block-rate__text">
                                    <ul>
                                        <li>Филигранно реализуем все пункты из левого столбца</li>
                                        <li>Проработаем маркетинговую воронку пути клиента от первого взгляда на объявление до оплаты</li>
                                        <li>Создадим продающий quiz лендинг</li>
                                        <li>Настроим системы аналитики и ретаргетинга</li>
                                    </ul>
                                </div>
                                <div class="block-rate__bottom">
                                    <div class="block-rate__price">40 000 <sub>руб</sub></div>
                                    <a href="javascript:;" class="btn-second">Хочу так!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-task">
                    <div class="container">
                        <div class="block-task__title">
                            Наша задача – создать с Вашим бизнесом долгосрочные отношения.<br>
                            И над проектом будет работать вся наша команда
                        </div>
                        <div class="block-task__items">
                            <div class="block-task__item">
                                <div class="block-task__pict">
                                    <img src="local/uploads/task.jpg" alt="">
                                </div>
                                <div class="block-task__text">
                                    Сергей
                                </div>
                            </div>
                            <div class="block-task__item">
                                <div class="block-task__pict">
                                    <img src="local/uploads/task.jpg" alt="">
                                </div>
                                <div class="block-task__text">
                                    Артём
                                </div>
                            </div>
                            <div class="block-task__item">
                                <div class="block-task__pict">
                                    <img src="local/uploads/task.jpg" alt="">
                                </div>
                                <div class="block-task__text">
                                    Паша
                                </div>
                            </div>
                            <div class="block-task__item">
                                <div class="block-task__pict">
                                    <img src="local/uploads/task.jpg" alt="">
                                </div>
                                <div class="block-task__text">
                                    Мирон
                                </div>
                            </div>
                            <div class="block-task__item">
                                <div class="block-task__pict">
                                    <img src="local/uploads/task.jpg" alt="">
                                </div>
                                <div class="block-task__text">
                                    Анна
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-warranty">
                    <div class="container">
                        <div class="h2 white-color">
                            Гарантии результата
                        </div>
                        <div class="block-warranty__text">
                            Предоставляем доступы в личные кабинеты Facebook, чтобы вы могли следить
                            за проводимыми работами и расходом рекламного бюджета. Для отслеживания
                            всей воронки продаж от клика до заказа и расчета ROI перед запуском
                            мы настраиваем системы-веб-аналитики. 2 раза в неделю ты будешь получать
                            подробные аналитические отчеты по результатам проведенной кампании
                            и рекомендации на следующий месяц.
                        </div>
                    </div>
                </div>
                <div class="block-decision">
                    <div class="container">
                        <div class="block-decision__title">
                            <div class="h2">
                                И сейчас настала пора, принимать решение…<br>
                                по какой дороге мы пойдём
                            </div>
                        </div>
                        <div class="block-decision__items">
                            <div class="block-decision__item">
                                Оставить заявку, запросить КП<br> 
                                и начать сравнивать с другими
                            </div>
                            <div class="block-decision__item">
                                Оставить заявку, ответить на звонок 
                                и активно начать работать.
                            </div>
                            <div class="block-decision__item">
                                Закрыть сайт и упустить прибыль
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer-main">
                <div class="container">
                    <div class="footer-top">
                        <div class="footer-top__left-box">
                            <form class="form-one">
                                <div class="form-one__line">
                                    <input class="form-one__input" type="text" value="" placeholder="*Имя">
                                </div>
                                <div class="form-one__line">
                                    <input class="form-one__input" type="tel" value="" placeholder="*Телефон">
                                </div>
                                <input type="submit" class="btn-first btn-full-width" value="ХОЧУ РАБОТАТЬ С ВАМИ">
                            </form>
                        </div>
                        <div class="footer-top__right-box">
                            <div class="footer-top__text-one">
                                Мы открыты и всегда честно и дружелюбно ответим 
                                на Ваши вопросы по телефону или в соц сетях.
                            </div>
                            <div class="footer-top__text-two">
                                Мы готовы работать на результат, с договором и
                                гарантиями качества.
                            </div>
                            <div class="footer-top__text-three">
                                Приглашаем Вас вместе пойти по этой дороге роста Вашей прибыли
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="footer-bottom__container container">
                        <div class="footer-bottom__left-box">
                            <a href="/" class="footer-bottom__logo">
                                <img src="local/img/logo.svg" alt="">
                            </a>
                        </div>
                        <div class="footer-bottom__center-box">
                            <div class="footer-bottom__soc">
                                <a href="javascript:;" class="footer-bottom__fb" target="_blank"></a>
                                <a href="javascript:;" class="footer-bottom__vk" target="_blank"></a>
                                <a href="javascript:;" class="footer-bottom__ig" target="_blank"></a>
                            </div>
                            <a href="tel:+74945990064" class="footer-bottom__phone">+7 494 599 00 64</a>
                        </div>
                        <div class="footer-bottom__right-box">
                            Copyright © 2010 - 2019
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>