<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Tmp</title>
    </head>
    <body>
        <div class="position-relative">
            <header class="header-main">
                <div class="header-main__left-box">
                    <a href="/" class="header-main__logo">
                        <img src="local/img/logo.svg" alt="">
                    </a>
                    <span class="header-main__slog">
                        Маркетинговое агентство <b>ADV TEAM</b><br>
                        Таргетированная реклама в Facebook и Instagram
                    </span>
                </div>
                <div class="header-main__center-box">
                    <nav class="nav-top">
                        <a href="javascript:;" class="nav-top__link">О Раскрутке</a>
                        <a href="javascript:;" class="nav-top__link">Гарантии</a>
                        <a href="javascript:;" class="nav-top__link">Тарифы</a>
                        <a href="javascript:;" class="nav-top__link">Клиенты</a>
                        <a href="javascript:;" class="nav-top__link">Контакты</a>
                    </nav>
                </div>
                <div class="header-main__right-box">
                    <a href="tel:+74945990064" class="header-main__phone">+7 494 599 00 64</a>
                </div>
            </header>
            <main>
                <div class="block-first">
                    <div class="container">
                        <div class="h1">
                            Запустим прибыльную систему привлечения 
                            клиентов из Facebook и Instagram в Ваш бизнес 
                            за 7 дней
                        </div>
                        <div class="block-first__desc">
                            Получите стабильный поток платежеспособных клиентов из социальных сетей<br>
                            <b>в 2 раза дешевле</b>, чем из контекстной рекламы
                        </div>
                        <a href="javascript:;" class="btn-first">Получить бесплатную консультацию</a>
                        <div class="block-first__text">
                            Даже если у Вас уже настроен таргет Facebook и Instagram, наш маркетолог<br>
                            сделает аудит и предложит пути кратного повышения его эффективности
                        </div>
                        <a href="javascript:;" class="block-first__scroll"></a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>