:root {
    --black: #000;
    --white: #FFF;

    --color1: #bc78ff;
    --color2: #a870f3;
    --color3: #211a2c;
    --color4: #453775;
    --color5: #2e2439;
    --color6: #1e1d2d;
    --color7: #3d3e4d;

    --green1: #66a197;

    --grey1: #c8c9ca;
    --grey2: #a3a7a8;
    --grey3: #303030;
    --grey4: #5c5764;
    --grey5: #9e99a3;
}

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1250px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
    xxl: 1200px
);

$gutter: 30px;